:root {
  --color-purple-light: hsl(254, 88%, 90%);
  --color-purple-dark: hsl(256, 67%, 59%);

  --color-yellow-light: hsl(31, 66%, 93%);
  --color-yellow-dark: hsl(39, 100%, 71%);

  --color-white-off: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 7%);
}

body {
  margin: 0;
}

.container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2em 2em;

  row-gap: 2em;

  background-color: var(--color-white-off);

  width: 100%;
  box-sizing: border-box;

  font-size: 0.75em;
}

h1,
p {
  margin: 0;
}

img {
  width: 100%;
}

.card {
  border-radius: 1em;
  display: flex;
  flex-direction: column;

  line-height: 1;
  letter-spacing: -1px;

  width: 100%;

  box-sizing: border-box;
}

.card-stars {
  background-color: var(--color-purple-dark);
  padding: 2em 3em;
  color: var(--color-white);

  align-items: center;
}

.card-stars h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 500;
}

.card-stars span {
  color: var(--color-yellow-dark);
}

.card-stars img {
  margin-top: 1em;
  width: 75%;
}

.card-stars p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0px;
}

.card-platforms {
  background-color: var(--color-white);
  padding: 1em;
}

.card-platforms h1 {
  font-weight: 600;
  font-size: 1.4em;
  margin-top: 0.5em;
}

.card-consistent {
  background-color: var(--color-yellow-dark);
  padding: 1em 1em 0 1em;
  overflow: hidden;
}

.card-consistent h1 {
  font-size: 1.4em;
  font-weight: 600;
  width: 80%;
}

.card-consistent img {
  width: 70%;
  transform: translateY(1.2em);
}

.card-schedule {
  background-color: var(--color-purple-light);
  padding: 1.5em 1em;
  align-items: center;
}

.card-schedule h1 {
  font-weight: 700;
  font-size: 1.4em;
}

.card-schedule img {
  margin: 1em 0;
}

.card-schedule p {
  padding: 0 1em;
  text-align: center;
  line-height: 1.1;
  font-weight: 500;
  font-size: 1.1em;
}

.card-followers {
  background-color: var(--color-purple-dark);
  padding: 1.5em 3em;
  color: var(--color-white);
}

.card-followers h1 {
  font-weight: 500;
  text-align: center;
  margin-top: 1em;
}

.card-audience {
  background-color: var(--color-white);
  padding: 1em;
}

.card-audience h1 {
  font-size: 2.7em;
  font-weight: 500;
}

.card-audience p {
  font-size: 1.2em;
  margin: 0.8em 0;
}

.card-audience img {
  width: 60%;
}

.card-create {
  background-color: var(--color-yellow-light);
  padding: 1.5em 2em;
}

.card-create h1 {
  font-size: 1.6em;
  font-weight: 600;
}

.card-create i {
  color: var(--color-purple-dark);
}

.card-create img {
  width: 70%;
  margin-top: 1.5em;
}

.card-ai {
  background-color: var(--color-yellow-dark);
  padding: 1.5em;
}

.card-ai h1 {
  font-weight: 600;
  font-size: 1.7em;
}

.card-ai img {
  margin-top: 1.5em;
  width: 80%;
}

@media (min-width: 374px) {
  .container {
    font-size: clamp(0.9em, calc(0.6em + 1.5vw), 1em);
  }
}

@media (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    row-gap: 1.5em;
    column-gap: 1.5em;
    max-height: 100vh;

    font-size: clamp(0.8em, calc(0.5vh + 0.8vw), 2em);

    padding: 10vh 25vw;
  }

  img {
    width: 20%;
  }

  .card {
    align-items: center;
    justify-content: center;
  }

  .card-create {
    grid-area: 1/1/6/2;
    height: 100%;
    padding: 1em;
  }

  .card-create h1 {
    font-size: 1.7em;
    font-weight: 500;
  }

  .card-create img {
    width: 100%;
  }

  .card-stars {
    grid-area: 1/2/5/4;
    height: 100%;
    padding: 2em 2em;
  }

  .card-stars p {
    font-size: 0.8em;
  }

  .card-stars img {
    width: 40%;
    margin-bottom: 0.6em;
  }

  .card-schedule {
    grid-area: 1/4/8/5;
    height: 100%;

    overflow: hidden;

    align-items: start;
  }

  .card-schedule h1 {
    font-weight: 600;
    font-size: 1.3em;
  }

  .card-schedule img {
    height: 55%;
    width: auto;
  }

  .card-schedule p {
    font-weight: 300;
    font-size: 0.9em;
    text-align: start;
    padding: 0;
  }

  .card-platforms {
    grid-area: 5/2/8/3;
    height: 100%;

    overflow: hidden;

    align-items: start;
  }

  .card-platforms h1 {
    font-weight: 500;
  }

  .card-platforms img {
    width: auto;
    height: 29%;
  }

  .card-consistent {
    grid-area: 5/3/8/4;
    height: 100%;

    padding: 1em;

    align-items: start;
    justify-content: start;
  }

  .card-consistent h1 {
    font-size: 1.2em;
  }

  .card-consistent img {
    width: 100%;
  }

  .card-ai {
    grid-area: 6/1/11/2;
    height: 100%;

    padding: 1em;

    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .card-ai h1 {
    font-size: 1.6em;
    font-weight: 500;
    width: 80%;
  }

  .card-ai img {
    width: 100%;
  }

  .card-audience {
    grid-area: 8/2/11/3;
    height: 100%;

    align-items: start;
    justify-content: space-between;
  }

  .card-audience p {
    font-size: 0.8em;
    margin-bottom: 2em;
  }

  .card-audience img {
    width: 80%;
  }

  .card-followers {
    grid-area: 8/3/11/5;
    height: 100%;

    flex-direction: row;

    padding: 1em;
  }

  .card-followers h1 {
    text-align: start;
    font-size: 1.5em;
    margin: 0;
  }

  .card-followers img {
    height: 100%;
    width: auto;
  }
}
